<div class="headLine">
    <h1>Welcome to SkyBuy!</h1>
    <h3>As part of the Sky concern we have an obligation to provide you with the best service and best products</h3>
</div>

<div class="history">
    <h2>A bit about our history:</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non facilisis libero, non porta tellus. Phasellus quis sagittis augue. Pellentesque id arcu nisi. Vivamus porta pharetra condimentum. Sed eros justo, laoreet eget cursus vel, commodo
        sit amet orci. Vestibulum at tempus ex. Proin ipsum turpis, venenatis at ornare at, rutrum id est. Suspendisse a viverra neque. Vestibulum eu tellus viverra, lacinia nunc eget, auctor est. Mauris et felis a lorem tristique volutpat a in felis.
        Pellentesque in tristique ligula, sit amet tincidunt velit. Suspendisse erat tellus, congue egestas ultricies vitae, interdum quis ante. Maecenas auctor arcu a quam accumsan, vel condimentum metus aliquam. Nulla condimentum quam magna, in tristique
        lorem elementum nec. Nunc nisi eros, posuere accumsan nibh vel, porttitor tincidunt lectus. Nulla facilisi. Etiam blandit at magna at eleifend. Quisque tortor diam, malesuada eget dui vel, pretium finibus ipsum. Nullam id mi sagittis, sodales
        augue id, varius augue.</p>
</div>
<div class="superPic">
    <div>
        <h3>What are you waiting for?</h3>
        <h4>Start shopping now!</h4>
    </div>
</div>